*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
display: grid;
grid-template-columns: auto 1fr auto;
background-color: rgb(204, 141, 183);

}

header{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: rgb(14, 16, 139);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

section:nth-of-type(1) {
    background-color: rgb(214, 160, 12);
    padding: 1rem;
    border-radius: 8px;
}

section:nth-of-type(2) {
    background-color: rgb(189, 178, 178);
    padding: 1rem;
    border-radius: 8px;
}

section:nth-of-type(3) {
    background-color: rgb(228, 14, 32);
    padding: 1rem;
    border-radius: 8px;
}

footer {
    background-color: rgb(14, 16, 139);
    color: white;
    text-align: center;
    padding: 1rem;
    grid-column: span 3;
}